@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');


/* latin-ext */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/dancingscript/v23/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3ROp8ltA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/dancingscript/v23/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

header {
    height: 500px;

    background-color: #003954;
    color: #f9ffff;
    text-align: center;
    vertical-align: middle;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

header nav {
    padding: 5px;
    margin: 5px;
    display: inline;
    background-color: #0c1f2ce3;
    text-align: left;
    border-radius: 4px;
}

nav a {
    color: white;
    text-decoration-line: overline;
    padding: 0 5px 0 5px;
}

nav a:hover {
    color: rgba(69, 20, 92, 0.685);
    background-color: #ffffff;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    padding-top: 10vh;
    font-size: 4em;
}

header h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

a.btn-buscar {
    font-size: 3em;
}

article {
    background-image: linear-gradient(100deg, #9d00ff69 10%, #f5560083 100%);
    background-color: #59bae7;
    height: 50vh;

}


section {
    padding: 10px;
    background-color: #003954;
    color: #ffffff;
    display: block;
    width: 400px;
    position: relative;
    top: -15%;
    left: 50%;
    margin-left: -200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 2mm;
    box-shadow: 5px 5px 5px rgba(50, 1, 54, 0.541);
    transition: transform .5s, box-shadow .5s;
}

section:hover {
    transform: translate(-5px, -5px)  ;
    box-shadow: 9px 9px 5px rgba(50, 1, 54, 0.541);
    
}


section h5 {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(50deg, #105ea7, #003954);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding: 2px 2px;
}

 .mapa{
    padding: 10px;
    background-color: #003954;
    color: #c91a1a;
    display: block;
    
    position: relative;
    top: -15%;
    left: 50%;
    margin-left: -200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 2mm;
    box-shadow: 5px 5px 5px rgba(50, 1, 54, 0.541);
}



@media screen and (max-width: 500px) {
    section {
        padding: 10px;
        background-color: #430054c0;
        color: #ffffff;
        display: block;
        width: 250px;
        position: relative;
        top: -15%;
        left: 50%;
        margin-left: -125px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 2mm;
        box-shadow: 5px 5px 5px rgba(50, 1, 54, 0.541);
    }

    section h5 {
        color: rgb(255, 255, 255);
        background-image: linear-gradient(50deg, #105ea7, #003954);
        font-family:'Poppins';
        font-weight: lighter;
        padding: 2px 2px;
    }

}

a#buscar{
    background-color: #c699e0;
    transition:  background-color .5s, color .5s;
}
a#buscar:hover{
    background-color: #88679b;
    color: white;
}