{% extends 'base.html' %}
{% block body %}
<h1>Registrar nueva Propiedad</h1>
<div class="container-fluid mx-2">

    <form action="{{ url_for('admin.nueva_propiedad') }}" method="POST" enctype="multipart/form-data" class="row g-3">
        <div class="row g-3 row-cols-auto border-1 border p-3">
            <div class="col-md-2 col-lg-1">
                <label for="whq">WHQ:</label><input type="text" name="whq" class="form-control"
                    placeholder="Ej. MEX0000">

            </div>
            <div class="col-md-2 ">
                <label>Nombre de Proyecto:</label><input type="text" name="nombre" class="form-control"
                    placeholder="Ej. Torreón Coahuila">
            </div>
            <div class="col-md-2 ">
                <label for="titulo">Titulo:</label><input type="text" name="titulo" class="form-control"
                    placeholder=" Ejemplo: Casa Habitación">

            </div>
            <div class="col-md-4 ">
                <label for="titulo">Frase Descriptiva:</label><input type="text" name="frase" class="form-control"
                    placeholder="Ej. Adecuable a sus necesidades">

            </div>
            <div class="col-md-4 ">
                <label>Dirección:</label><input type="text" name="direccion" class="form-control"
                    placeholder="Dirección Fisica de la Propiedad">
            </div>
            <div class="col-md-4 ">
                <label for="estado" >Estado:</label>
                <select class="form-select" name="estado" id="estado">
                    <option selected>Selecciona Uno</option>
                    <option value="Aguscalientes">Aguscalientes</option>
                    <option value="Coahuila">Coahuila</option>
                    <option value="Durango">Durango</option>
                </select>
            </div>
        </div>
        <div class="row g-2 row-cols-auto border border-1 mx-auto border-round-2 p-3">
            <div class="col-12">
                Escriba las siguientes caracteristicas separadas por coma.
            </div>
            <div class="col-md-2 ">
                <label>Documentación:</label><textarea name="documentos" class="form-control" rows="4"
                    placeholder="Titulo de Propiedad,Carta del Ejido"></textarea>
            </div>
            <div class="col-md-2 ">
                <label>Servicios:</label><textarea name="servicios" class="form-control" rows="4"
                    placeholder="Ej. Agua,Luz,Teléfono"></textarea>
            </div>
            <div class="col-md-2 ">
                <label>Medidas:</label><textarea name="medidas" class="form-control" rows="4"
                    placeholder="Ej. Habitacion de 4x4,Patio de 5x5"></textarea>
            </div>
            <div class="col-md-2 ">
                <label>Construcción:</label><textarea name="construccion" class="form-control" rows="4"
                    placeholder="Ej. Paredes de Block,Techo de Lamina"></textarea>
            </div>
        </div>
        <div class="row g-3 row-cols-auto">
            <div class="col-md-2 ">
                <label>Lugares de Interes:</label><textarea name="lugares" class="form-control" rows="4"
                    placeholder="A una Cuadra de Secundaria,A 4 minutos de Soriana"></textarea>
            </div>
            <div class="col ">
                
                <label>Ubicación:</label>
                <input type="text" name="longitud" class="form-control" placeholder="Longitud">
                <input type="text" name="latitud" placeholder="Latitud" class="form-control">
            </div>
            <div class="col-12  ">
                <input type="submit" class="btn btn-primary">
            </div>

        </div>



    </form>


</div>
{% endblock %}