{% extends 'base.html' %}
{%  block body %}
    <div>
        <a href="miubicacion"> En Mi Ubicación</a>
        <br>
        En el Estado de:
        <form>
            <select>
                <option selected>Selecciona un Estado:</option>
                <option>Aguascalientes</option>
                <option>Durango</option>
                <option>Jalisco</option>
            </select>
            <input type="submit" style="background-color: steelblue; color: aliceblue;" ></form>
        </form>
        
    </div>
    <a href="/admin">Adminstrar Propiedaes</a>
{% endblock%}