{% extends 'base.html' %}
{% block body %}
<div id="welcomebox" class="contenedor">
    <div class="fondo2">
        <div class="contenedor" id="recuadro">
            <a href="miubicacion" class="btn btn-primary btn-lg"> Propiedades</a>
            <br>
            <!-- En el Estado de:
        <form>
            <select>
                <option selected>Selecciona un Estado:</option>
                <option>Aguascalientes</option>
                <option>Durango</option>
                <option>Jalisco</option>
            </select>
            <input type="submit" style="background-color: steelblue; color: aliceblue;" ></form>
        </form>    
        </div> -->
        </div>

    </div>
</div>

{% endblock%}