{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 align-center">
            <h1>Lista de Propiedades</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="contenedor-mapa">
                <div id='mapbox' class="mapbox-miubicacion"></div>
                
            </div>

        </div>

    </div>

</div>
<script src="{{url_for('static',filename='propiedadesscript.js')}}"></script>
<script>
    
</script>
{% endblock %}}