{% extends 'base.html' %}
{% block body %}
<header>
    <nav><a name="" id="" class="" href="/" role="button">Inicio</a>
        <a name="" id="" class="" href="/buscar" role="button">Buscar</a>
        <a name="" id="" class="" href="/admin" role="button">Administrar</a>
        <a name="" id="" class="" href="/contacto" role="button">Contacto</a>
    </nav>
    <h2>Buscador de Propiedades</h2>
    <h3>Encuentra la Tuya</h3>
</header>
<article>
    <div class="row row-cols-auto">
        <div class="col-6">
            <section class="mapa">
                <div id='mapbox' class="mapbox-miubicacion"></div>
            </section>
        </div>
        <div class="col-6">
            <section class="info">
                <h3>Presiona sobre una propiedad para ver su información</h3>>
            </section>
        </div>
    </div>

</article>

<script src="{{url_for('static',filename='propiedadesscript.js')}}"></script>
<script>

</script>
{% endblock %}}