{% extends 'layout.html' %}
{% block titulo%}
{{ p['whq']}} - {{p['nombre']}}
{% endblock%}

{% block contenido%}


<div class="position-relative overflow-hidden text-center titulo" style="background-image: url('img/mex6477_3.jpeg'); height: 400px; background-position: top;
background-repeat: no-repeat; background-size:auto;">
  <div class="col-md-5 p-lg-5 mx-auto my-5 bg-light" style="opacity: 90%;">
    <h1 class="display-4 fw-normal">{{p['titulo']}}</h1>
    <p class="lead fw-normal">{{p['frase']}}</p>

    <a class="btn btn-outline-primary " href="#deta">Más Detalles</a>
    <a class="btn btn-outline-secondary" href="#ubicacion">Ubicación</a>
    <a class="btn btn-outline-secondary" href="#galeria">Galería</a>
  </div>


</div>
<div class="container-md px-4 py-5 bg-white ">

  <h2 id="deta" class="pb-2 border-bottom">Detalles</h2>

  <div class="row g-4 py-5 row-cols-2">
    <div class="col  ">
      <div class="bg-gradient rounded-3 bg-light border border-1 border-dark" style="display:inline-flex; align-items: center;
            justify-content: center;  width:60px; height:60px">
        <span style="font-size:50px;">&#128221;
        </span>
      </div>
      <h4>Documentación</h4>
      <ul>
        {% for doc in p['documentos'].rsplit(",") %}
        <li>{{doc}}</li>
        {% endfor%}
      </ul>
    </div>
    <div class="col  ">
      <div class="bg-gradient rounded-3 bg-light border border-0 border-dark" style="display:inline-flex; align-items: center;
            justify-content: center; width:60px; height:60px">
        <span style="font-size:50px;">&#128167;</span>
      </div>
      <h4>Servicios</h4>
      <ul>
        {% for doc in p['servicios'].rsplit(",") %}
        <li>{{doc}}</li>
        {% endfor%}
      </ul>
    </div>
    <div class="col  ">
      <div class="bg-gradient rounded-3 bg-light border border-1 border-dark" style="display:inline-flex; align-items: center;
            justify-content: center;  width:60px; height:60px">
        <span style="font-size:50px;">&#128208;</span>
      </div>
      <h4>Medidas</h4>
      <ul>
        {% for doc in p['medidas'].rsplit(",") %}
        <li>{{doc}}</li>
        {% endfor%}
      </ul>
    </div>
    <div class="col  ">
      <div class="bg-gradient rounded-3 bg-light border border-1 border-dark" style="display:inline-flex; align-items: center;
            justify-content: center;  width:60px; height:60px">
        <span style="font-size:50px;">&#129521;</span>
      </div>
      <h4>Construcción</h4>
      <ul>
        {% for doc in p['construccion'].rsplit(",") %}
        <li>{{doc}}</li>
        {% endfor%}
      </ul>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a class="btn btn-sm btn-outline-dark" href="#titulo">Arriba</a>
      </div>
    </div>
  </div>
</div>
<div style="height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);"></div>
<div class="container-md px-4 py-5 ">
  <h2 id="ubicacion" class="pb-2 border-bottom">Ubicación</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
    <div class="col  ">
      <div class="bg-gradient rounded-3 bg-light border border-1 border-dark" style="display:inline-flex; align-items: center;
            justify-content: center;  width:55px; height:55px">
        <span style="font-size:40px;">&#127978;</span>
      </div>
      <h4>Lugares de Interés</h4>
      <ul style="font-size: calc(0.7rem + 1.5vw); font-weight: 100;">
        <li>A 5 minutos de<strong> Zona Centro</strong></li>
        <li>Esta en <strong>Esquina</strong></li>
        <li><strong>Gasolinera</strong> a 3 cuadras</li>
        <li><strong>Secundaria, Primeria y Kinder</strong> 3 minutos</li>
      </ul>

    </div>
    <div class="col  ">
      <div class="bg-gradient rounded-3 bg-light border border-1 border-dark" style="display:inline-flex; align-items: center;
            justify-content: center;  width:55px; height:55px">
        <span style="font-size:40px;">&#128205; </span>
      </div>
      <h4>Mapa de Ubicación</h4>
      <p><strong>Dirección </strong> {{p['direccion']}}</p>
      <p><strong>Longitud: </strong>{{p['longitud']}} <strong>Latitud: </strong>{{p['latitud']}}</p>
      <img class="mapa_estatico"
      src="https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/pin-s-home+00F(-103.49838,25.56637)/-103.49838,25.56637,13/350x350?access_token=pk.eyJ1Ijoid2FyaW9tdmMiLCJhIjoiY2wyZXJ6NXdvMDA4YTNqbXdsOXJxNnloYiJ9.mjiy2sqN-nB0DIKp9LZpkQ"
      alt="Mapa de la Propiedad">
      <div class="contenedor_mapa">
        <div id="mapa" class="mapa">
          <strong>Puedes Alejar o Acercar el Mapa</strong> <div id="map"></div>
        </div>
      </div>



      <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoid2FyaW9tdmMiLCJhIjoiY2wyZXJ6NXdvMDA4YTNqbXdsOXJxNnloYiJ9.mjiy2sqN-nB0DIKp9LZpkQ';
        const map = new mapboxgl.Map({
          container: 'map', // container ID
          style: 'mapbox://styles/mapbox/outdoors-v11', // style URL
          center: [-103.49838816095291, 25.56633784070425], // starting position [lng, lat]
          zoom: 15.5 // starting zoom
        });
        let elemento = document.createElement('div');
        elemento.className = 'pin'
        let marcador = new mapboxgl.Marker(elemento)
          .setLngLat({ lng: -103.49838816095291, lat: 25.56633784070425 })
          .addTo(map);
      </script>
    </div>
    
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a class="btn btn-sm btn-outline-dark" href="#titulo">Arriba</a>
      </div>
    </div>
  </div>
</div>
<div style="height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);"></div>

<div class="container-md px-4 py-5 ">
  <h2 id="galeria" class="pb-2 border-bottom">Galería</h2>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-2">

    {% for datos in datos_imagenes%}

    <div class="col">
      <div class="card" style="width:18rem;">
        <a href="{{ url_for('admin.addpic', id = id )}}">
          <img src="{{ url_for('static',filename='galeria/'+datos['URL'])}}" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{id}}</h5>
          <h6 class="card-subtitle mb-2 text-muted ">Nueva imagen</h6>
          <p class="card-text">Presione en l aimagen para agregar una nueva imagen a la galeria</p>

        </div>
      </div>
    </div>
    {% endfor %}

  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <a class="btn btn-sm btn-outline-dark" href="#titulo">Arriba</a>
    </div>
  </div>
</div>
{% endblock%}